.cardDesign{
    display: flex;
    direction:row;
    flex-wrap: wrap;
   margin: 3%;
}

.cardbtn{
  display:flex;
  justify-content:space-around;
  align-items: center;
  margin:9% 4% 9% 4%;

}
/* style={{display:"flex",justifyContent:"space-around",alignItems: "center" ,margin:"9% 4% 9% 4%"}} */
  @media screen and (max-width: 771px) {
    .cardDesign{ display: flex;
        direction: row;
        flex-wrap: wrap;
        margin: 3%;
        justify-content: center;}
        .cardbtn{
          gap: 13%;
        }
  }
  
  @media screen and (min-width: 771px) {
    .cardDesign{ display: flex;
        direction: row;
        flex-wrap: wrap;
        margin: 4%;
        justify-content: center;
    gap:2%;}
   
  }