 hr{
  width:100%  
}
.title{
    font-size: x-large;
    color:#757575;
    margin:2%;
    display:flex;
    flex-direction: column;
}

.wishImage{
    width: 15%;
     height:76%
   
}
.imageContainer{
    display: flex; 
  justify-content: start;
  align-items: center;
  width:25%
}


  
   tr.items{
  display:flex;
  align-items: center;
  } 
 
  
 thead tr{
  width: 75%;
 margin-left: 25%;
  column-gap: 5%;
  padding: 5px;
  display:flex;
  column-gap: 13%;
}
 
  
  .items th button {
    padding: 5px 10px;   
    cursor: pointer;
    background-color:#646affb3;
    color: white;
    border-radius: 6px;
    border: none;
  }
  

   .table {
    width: 100%;}
    
    
    
    @media (max-width: 678px) {
      thead tr{
        width: 75%;
       margin-left: 19%;
        column-gap: 3%;
        padding: 4px;
        display:flex;
        column-gap: 11%;
      }
     
      .wishImage{
        width:15% ;
        height:56%
       
       
    }
    }
    @media (min-width: 771px) { thead tr{
      width: 75%;
    margin-left: 22%;
    column-gap: 23%;
    padding: 4px;
    display: flex;

      
    }}
    @media (min-width: 1443px) { thead tr{
      width: 75%;
      margin-left: 23%;
      column-gap: 23%;
      padding: 4px;
      display: flex;
  }
      
    }